.m-large {
  margin-left: 450px;
}

.m-top {
  margin-top: 20px;
}

.card-size {
  min-width: 500px;
}

.contactImg {
  max-width: 300px;
  max-height: 300px;
}

.profile-img {
  margin-left: auto;
  margin-right: auto;
}
.api {
  background-color: white;
}

.wrapper:hover {
  border: 0px;
}

.grey {
  background-color: #DCDCDC;
}

.grey:hover {
  /* border: 1px solid #778899; */
  background-color: #D3D3D3;
}

.center {
  text-align: center;
  font-weight: bold;
}
